

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.hidden {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#segmentNames {
    margin: 20px 0;
    max-height: 400px;
    overflow-y: auto;
}

.segmentNameInput {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#saveNamesBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

#saveNamesBtn:hover {
    background-color: #2980b9;
}

.shapeDiv {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 70px;
}

#spinbtn {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #534891;
    color: white;
    cursor: pointer;
}

#addBtn, #nameBtn, #removeBtn {
    margin: 10px 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #534891;
    color: white;
    border-radius : 5px;
}

.pickerCanvasDiv {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
body {
    font-family: Arial, sans-serif;
    background-color: #29204e;
    margin: 0;
    padding: 0;
}

header {
     display: flex;
    flex-direction: row;
    
    justify-content: space-between; 
    align-items: center;
    padding: 10px 5%; 
    color: #c5c5c5;
    background-color:#261b52;
    min-height: 70px;
}

#nav1 {
    
    text-align: center; 
    margin: 0; 
    position: static; 
    padding: 0;
}
    @media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    #nav1 {
        margin-top: 15px;
    }
}



#nav1 #languageSelect {
    font-size: 16px;
    padding: 5px;
    background-color: #534891;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
hr{
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background: #bebebe;
}

#MyCanvas {
    margin-right: 18px;
}